p {
	color: green;
}

section.first {
	height: 300px;
	background: url("../images/slide_03.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



nav.menu {
	position: fixed;
	top: 15px;
	right: 15px;
}